/* @tailwind base; */
@tailwind components;
/* @tailwind utilities; */

@layer components {
  :where(.prose) div {
    margin-top: 1em;
  }
  :where(.prose) h2 {
    font-size: 1.25rem;
    font-weight: bold;

    @media (width>= 768px) {
      font-size: 1.5rem;
    }
  }
  :where(.prose) h2:not(:first-child) {
    margin-top: 2rem;
  }
  :where(.prose) p {
    margin-top: 1em;
    line-height: 1.5;
  }
  :where(.prose) figure {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
}
